@import
  "partials/variables",
  "partials/mixins"
  ;

//
//  Large Touch Devices
//

// Layout

.section {
  padding-top: $spacer * 3.5;
  padding-bottom: $spacer * 3.5;
}

.flex-row {
  flex-direction: row;
}

.row-25,
.row-50 {
  width: 50%;
  padding: 0 $spacer * 2 0;
}

.row-50--nopad {
  width: 50%;
}

.row-25 {
  @include lg {
    width: 25%;
  }
}

.row-33 {
    width: 33%;
}

.row-66 {
  width: 66%;
}

.grid-img {
  min-height: 450px;
}
// Header

.hero {
  min-height: 700px;
  background-size: 350px auto;
  background-position: 84% bottom;
}

// Decor

.divider {
  border-right: 1px solid $lines;
}

.divider-dk {
  border-right: 1px solid $gray-800;
}

.pad-right {
  padding-right: $spacer * 5;
}

.pad-left {
  padding-left: $spacer * 5;
}

.pad {
  padding-bottom: $spacer * 1.5;
  padding-top: $spacer * 1.5;
}

// Entry

.entry-content {
  figure {
    flex-direction: row;
    width: 100% !important;
    padding: $spacer * 3 0;
    img {
      margin: 0 $spacer;
    }
    figcaption {
      padding: $spacer 0;
      font-size: $font-size-xl;
    }
  }
}

.alignleft {
  float: left;
  width: 50%;
  margin: 0 $spacer $spacer 0;
}

.alignright {
  float: right;
  width: 50%;
  margin: 0 0 $spacer $spacer;
}

//
//  Computers and Laptops  with Fine Pointers Only
//
  // Nav
  .nav {
    height: 100px;
    padding: 0 $spacer * 3 0 $spacer;
  }

  .nav-bar {
    z-index: 180;
  }

  .nav-logo {
    width: 250px;
    height: auto;
  }

  .nav-close {
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 0;
    margin-right: $spacer * 2;
    max-width: 2500px;
    width: 100%;
    box-shadow: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    padding-top: 0;
    overflow-y: visible;
  }

  .nav-ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-icon {
    display: none;
  }


