---
layout: layout.liquid
title: Lot 3 Audio - Mobile Recording Studio - Portland, OR
hero: mic.svg
h1: Mobile Recording Studio
caption: Portland, OR
img1: giraffe.jpg
---
<div class="section line">
  <div class="flex-row">
    <div class="row-66 pad-right">
      <div class="section">
        <h1>Sound Services</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p><a href="/services">See all of my services.</a></p>
      </div>
    </div>
    <div class="row-33 flex flex-img" style="background-image: url(./img/{{ img1 }})">
    </div>
  </div>
</div>
<div class="section line">
  <div class="flex-row">
    <div class="row-50 flex justify divider">
      <h3>My history in sound</h3>
    </div>
    <div class="row-50 section pad-left">
      <h4>Since 1989</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>
        <a href="/about">Learn more about Lot3 Audio</a>
      </p>
    </div>
  </div>
</div>
<div class="section">
  <div class="flex-row">
    <div class="row-33 flex flex-img" style="background-image: url(./img/{{ img1 }})">
    </div>
    <div class="row-66 pad-left">
      <div class="section">
        <h2>A Sound price</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p><a href="/pricing">Read my history.</a></p>
      </div>
    </div>
  </div>
</div>
