---
layout: layout.liquid
title: Lot 3 Audio - Mobile Recording Studio - Portland, OR
h1: Mobile Recording Studio
biz: Lot 3 Audio
caption: records The Moth StorySLAM
img1: mixingboard-web.jpg
img2: jonasangelet.jpg
---
<div class="box">
  <div class="section">
    <div class="flex-row">
      <div class="row-66 pad-right">
        <div class="section">
          <h1>Services</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p><a href="/services">See all of my services.</a></p>
        </div>
      </div>
      <div class="row-33 flex flex-img" style="background-image: url(./img/{{ img1 }})">
      </div>
    </div>
  </div>
</div>
<div class="section section-dk">
  <div class="box">
    <div class="flex-row">
      <div class="row-50 flex justify divider-dk">
        <h3 class="h3-accent">My history in sound</h3>
      </div>
      <div class="row-50 section pad-left">
        <h4 class="h4-accent">Since 1989</h4>
        <p class="lead p-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>
          <a class="a-white" href="/about">Learn more about Lot3 Audio</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="section">
    <div class="flex-row">
      <div class="row-33 flex flex-img" style="background-image: url(./img/{{ img2 }})">
      </div>
      <div class="row-66 pad-left">
        <div class="section">
          <h2>Live Recording</h2>
          <p class="lead">The Moth StorySLAM Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p><a href="/pricing">Read my history.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
