---
layout: layout.liquid
title: Art Other - Artwork by Michael Freiman
hero: tile.svg
grad: linear-gradient(202deg, rgba(230, 100, 101, 1), rgba(145, 152, 229, 1))
---
<h1>Art Other</h1>
<p class="lead section">
Website Coming Soon.
</p>
