<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        {% include aboveFold.css %}
    </style>
</head>
<body>
  {% include nav %}
  {% include header %}
  <main>
      <article>
          <section class="section line">
              <div class="box">
                  {{ content }}
              </div>
          </section>
      </article>
  </main>
  {% include footer %}
  {% include styles %}
  {% include scripts %}
</body>
</html>
