.hero {
  width: 100%;
  padding: $spacer;
  background-color: $gun-dk;
}

.hero-h1 {
  padding: $spacer * 2 $spacer * .5;
  color: $white;
  font-size: 3em;
  word-spacing: 5000px;
  @media (min-width: 765px) {
    font-size: 5em;
  }
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
}

.hero-p {
  padding: $spacer * 2 $spacer * .5;
  background-color: $gun-lt;
  color: $pretty;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  span {
    display: block;
    font-size: 2em;
    font-weight: 700;
    color: $accent;
  }
}

.hero-pdx {
  justify-content: flex-start;
  align-items: center;
  padding: $spacer * 2 $spacer * .5;
  background-color: darken($accent, 20%);
}

.hero-loc {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  word-break: break-all;
  color: $white;
}

.hero-front {
  flex-flow: row wrap;
  max-width: 1600px;
  margin: 0 auto;
  padding: $spacer * 2 $spacer * .5;
  background-color: $gun-dk;
}

.hero-banner {
  background-color: $gun;
}
