.hero {
  position: relative;
  height: 100%;
  padding: 110px 0;
  background-color: #00265d;
  background-repeat: no-repeat;
  background-size: 110px auto;
  background-position: 94% bottom;
}

.hero-h1 {
  display: block;
  color: #fff;
  font-size: 2em;
  @media (min-width: 765px) {
    font-size: 4em;
  }
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 5000px;
}

.hero-p {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}
