.hero {
  position: relative;
  height: 100%;
  min-height: 400px;
  background-color: rgba(9, 54, 162, 255);
  background-repeat: no-repeat;
  background-size: 140px auto;
  background-position: 94% bottom;
}

.svg-tri {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
