.svg-lights {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
}

.svg-circle {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(-35%);
}